--extra-index-url https://download.pytorch.org/whl/cpu

flask==3.1.1
flask-cors==4.0.0
sentence-transformers==2.2.2
huggingface_hub==0.22.2
nltk==3.9.1
torch==2.1.2+cpu
torchvision==0.16.2+cpu
scikit-learn
